a { color: cyan; }
a.dontlooklikealink { color: cyan; text-decoration: none; }
.red { color: #ff0000; }
.blue { color: cyan; }
.green { color: cyan; }

/* Styles for emulated checkbox labels in the addons selector screen  */
/* See https://github.com/yast/yast-registration/pull/566 */
.enabled-item {
  color: cyan;
  text-decoration: none;
}

.disabled-item {
  color: gray;
}
/* end of styles for the addons selector */
