/* Buttons
  ========================================================================== */
QPushButton {
  border: 1px solid #969494;
  border-radius: 2px;
  background-color: #2b2e38;
  padding: 8px 16px;
  color: #e0efef;
  font-weight: bold;
  outline: none;
}
QPushButton:default {
  border: 1px solid #30ba78;
  background-color: #30ba78;
  color: #ffffff;
}
QPushButton:disabled,
QPushButton:default:disabled {
  color: rgba(255, 255, 255, 60);
  border: 1px solid rgba(255, 255, 255, 60);
}
QPushButton:default:pressed,
QPushButton:pressed {
  border: 1px solid #30ba78;
  background-color: #30ba78;
  outline: none;
}
QPushButton:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
QPushButton:default:hover {
  border: 1px solid #30ba78;
  color: #ffffff;
}

/* odd dropdown button widget */
QPushButton::menu-indicator,
QPushButton::menu-indicator:pressed,
QPushButton::menu-indicator:open {
  subcontrol-origin: margin;
  subcontrol-position: right;
  image: url(inst_arr_down.png);
  left: -8px;
}
QPushButton:open {
  /* when the button has its menu open */
  color: #ffffff;
  background: #2b2e38;
  border: 1px solid #30ba78;
}

/* Tool Buttons              */

QToolButton {
  border: 1px solid #969494;
  border-radius: 2px;
  background-color: #2b2e38;
  padding: 8px 16px;
  color: #efefef;
}
QToolButton:focus {
  outline: none;
  color: #30ba78;
}
QToolButton::left-arrow,
QTabBar QToolButton::left-arrow {
  image: url(inst_arr_left.png);
}
QToolButton::right-arrow,
QTabBar QToolButton::right-arrow {
  image: url(inst_arr_right.png);
}
QToolButton::up-arrow {
  image: url(inst_arr_up.png);
}
QToolButton::down-arrow {
  image: url(inst_arr_down.png);
}
