/* Calendar
  ========================================================================== */
QSpinBox,
QDateEdit,
QTimeEdit {
  color: #ffffff;
  background-color: #1f222b;
  padding: 6px 6px;
  selection-background-color: #404147;
  selection-color: #ffffff;
}

QDateEdit::disabled,
QTimeEdit::disabled {
  color: rgba(255, 255, 255, 60);
  background-color: #2b2e38;
}

#qt_calendar_navigationbar {
  background-color: #1f222b;
  border: 1px outset #000000;
  border-radius: 2px;
}

#qt_calendar_navigationbar QToolButton {
  border: 1px solid #1f222b;
  border-radius: 2px;
  background-color: #2b2e38;
  padding: 4px 8px;
  color: #e0efef;
  font-weight: bold;
  outline: none;
  margin: 2px;
}

#qt_calendar_calendarview {
  background-color: #2b2e38;
  color: #e0efef;
}

QCalendarWidget QWidget {
  alternate-background-color: #1f222b;
}

QToolButton#qt_calendar_prevmonth {
  qproperty-icon: url(inst_arr_left.png);
}
QToolButton#qt_calendar_nextmonth {
  qproperty-icon: url(inst_arr_right.png);
}

QCalendarWidget QAbstractItemView:enabled {
  selection-background-color: #ffffff;
  selection-color: #000000;
  font-weight: bold;
}
