/* Progress bars
  ========================================================================== */
QProgressBar {
  border: 1px solid #000000;
  border-radius: 2px;
  min-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #1F222B;
}

QProgressBar::chunk {
  background-color: #008ACF;
  border: 0px;
  border-radius: 2px;
}
