/* Scroll bars
  ========================================================================== */
QScrollBar:vertical {
  width: 16px;
  margin: 0px;
  background-color: #1f222b;
  border-left: 1px solid #000000;
}
QScrollBar::handle:vertical {
  min-height: 16px;
  background-color: #404147;
  border-radius: 2px;
}
QScrollBar::add-line:vertical {
  subcontrol-position: bottom;
  subcontrol-origin: margin;
  border: none;
  height: 0px;
  width: 0px;
}
QScrollBar::sub-line:vertical {
  subcontrol-position: top;
  subcontrol-origin: margin;
  border: none;
  height: 0px;
  width: 0px;
}
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
  width: 0px;
  height: 0px;
}
QScrollBar::up-arrow:vertical {
  background-image: none;
}
QScrollBar::down-arrow:vertical {
  background-image: none;
}

/* Horizontal Scrollbars      */

QScrollBar:horizontal {
  height: 16px;
  margin: 0px;
  background-color: #1f222b;
  border-top: 1px solid #000000;
}
QScrollBar::handle:horizontal {
  min-height: 16px;
  background-color: #2b2e38;
  border-radius: 2px;
}
QScrollBar::add-line:horizontal {
  subcontrol-position: right;
  subcontrol-origin: margin;
  border: none;
  height: 0px;
  width: 0px;
}
QScrollBar::sub-line:horizontal {
  subcontrol-position: left;
  subcontrol-origin: margin;
  border: none;
  height: 0px;
  width: 0px;
}
QScrollBar::left-arrow:horizontal,
QScrollBar::right-arrow:horizontal {
  width: 0px;
}
QScrollBar::right-arrow:horizontal {
  background-image: none;
}
QScrollBar::left-arrow:horizontal {
  background-image: none;
}

BusyBar {
  qproperty-frameshape: NoShape;
  border-width: 3px;
  border: 1px solid $yast-green-500;
  border-radius: 2px;
}
QToolTip {
  background-color: #ffecb5;
}

QSplitter::handle {
  height: 10px;
  image: url(separator.png);
  background-color: #2b2e38;
}

#RepoUpgradeLabel {
  color: #fff;
  background: $yast-green-500;
}

YQPkgVersionsView QWidget {
  background: #2b2e38;
}

QY2HelpDialog {
  color: #fff;
  qproperty-searchresultbackground: #008acf;
  qproperty-searchresultforeground: #fff;
}
YQBarGraph {
  qproperty-backgroundcolors: "#008acf,#6F368C,#ff9302";
  qproperty-foregroundcolors: "#fff,#fff,#fff";
}

QComboBoxPrivateScroller {
  background-color: #2b2e38;
  color: #ffffff;
}
