/* Shared styles
  ========================================================================== */
QMainWindow,
QFileDialog {
  background: #2b2e38;
}

QWidget {
  background: #2b2e38;
  color: #ffffff;
}

YQWizard {
  background: #2b2e38;
}

YQMainWinDock {
  background: #2b2e38;
}

#LogoHBox {
  border-bottom: 1px solid #000000;
  background-color: #1f222b;
  margin: 0px;
}

YQLogView,
QTextEdit,
YQRichText > YQTextBrowser {
  qproperty-frameshape: NoShape;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: #1f222b;
  selection-background-color: #404147;
  selection-color: #ffffff;
}

QFrame {
  color: #ffffff;
}

QLabel,
YQDialog {
  color: #ffffff;
  background-color: #2b2e38;
  selection-background-color: #404147;
  selection-color: #ffffff;
  margin-top: 2px;
  margin-bottom: 6px;
}

QHeaderView::section {
  background-color: #2b2e38;
  color: #ffffff;
  border-radius: 2px;
  border: 2px solid #1f222b;
  padding: 4px 12px 4px 6px;
}

QHeaderView::down-arrow {
  image: url(inst_arr_down.png);
  padding-top: 2px;
}

QHeaderView::up-arrow {
  image: url(inst_arr_up.png);
  padding-top: 2px;
}

QAbstractScrollArea {
  background-color: #1f222b;
  border: 1px solid #000000;
}

QAbstractScrollArea QHeaderView {
  background: transparent;
  border: none;
}

QTreeView,
QTreeWidget {
  color: #ffffff;
  background-color: #1f222b;
  border: 1px solid #000000;
  alternate-background-color: #2b2e38;
  selection-background-color: #404147;
  selection-color: #ffffff;
  border-radius: 2px;
}

QTreeView::item:focus {
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #404147;
}

QTableWidget,
QTableView {
  color: #ffffff;
  background-color: #1f222b;
  border: 1px solid #000000;
  selection-background-color: #404147;
  selection-color: #ffffff;
  border-radius: 2px;
}

YQTree,
YQTable {
  color: #ffffff;
  background-color: #2b2e38;
  selection-background-color: #404147;
  selection-color: #ffffff;
}

YQPackageSelector {
  color: #ffffff;
  background-color: #2b2e38;
  border: 1px solid #000000;
  selection-background-color: #404147;
  selection-color: #ffffff;
  border-radius: 2px;
}

YQGenericDetailsView,
YQDescriptionDialog,
YQPkgDescriptionView {
  color: #ffffff;
  background-color: #1f222b;
}

YQPkgPatternCategoryItem {
  background-color: #2b2e38;
  color: #ffffff;
}

QListWidget {
  color: #ffffff;
  background-color: #2b2e38;
  selection-background-color: #404147;
  selection-color: #ffffff;
}

YQWidgetCaption {
  color: #ffffff;
  background-color: #2b2e38;
}

YQWidgetCaption::disabled {
  color: rgba(255, 255, 255, 60);
  background-color: #2b2e38;
}

.conflict QWidget {
  color: #fff;
}

YQMultiProgressMeter {
  background-color: transparent;
  border: 0px;
  border-radius: 2px;
}

YQWidgetCaptionBar > YQWidgetCaption {
  margin-top: 20px;
}

QComboBox QAbstractItemView,
QMenuBar {
  background-color: #2b2e38;
  selection-background-color: #404147;
  selection-color: #ffffff;
  alternate-background-color: #1f222b;
}

QGroupBox {
  border: 0px;
  margin-top: 2.5ex;
  margin-left: 0px;
}
QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: left top;
  color: #ffffff;
}
