/* Shared styles
  ========================================================================== */
QMainWindow,
QFileDialog {
  background: $yast-dark-grey-500;
}

QWidget {
  background: $yast-dark-grey-500;
  color: $yast-white;
}

YQWizard {
  background: $yast-dark-grey-500;
}

YQMainWinDock {
  background: $yast-dark-grey-500;
}

#LogoHBox {
  border-bottom: 1px solid $yast-black;
  background-color: $yast-dark-grey-900;
  margin: 0px;
}

YQLogView,
QTextEdit,
YQRichText > YQTextBrowser {
  qproperty-frameshape: NoShape;
  color: $yast-white;
  border-radius: 2px;
  border: 1px solid $yast-black;
  background-color: $yast-dark-grey-900;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
}

QFrame {
  color: $yast-white;
}

QLabel,
YQDialog {
  color: $yast-white;
  background-color: $yast-dark-grey-500;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
  margin-top: 2px;
  margin-bottom: 6px;
}

QHeaderView::section {
  background-color: $yast-dark-grey-500;
  color: $yast-white;
  border-radius: 2px;
  border: 2px solid $yast-dark-grey-900;
  padding: 4px 12px 4px 6px;
}

QHeaderView::down-arrow {
  image: url(inst_arr_down.png);
  padding-top: 2px;
}

QHeaderView::up-arrow {
  image: url(inst_arr_up.png);
  padding-top: 2px;
}

QAbstractScrollArea {
  background-color: $yast-dark-grey-900;
  border: 1px solid $yast-black;
}

QAbstractScrollArea QHeaderView {
  background: transparent;
  border: none;
}

QTreeView,
QTreeWidget {
  color: $yast-white;
  background-color: $yast-dark-grey-900;
  border: 1px solid $yast-black;
  alternate-background-color: $yast-dark-grey-500;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
  border-radius: 2px;
}

QTreeView::item:focus {
  color: $yast-white;
  border: none;
  outline: none;
  background-color: $yast-dark-grey-100;
}

QTableWidget,
QTableView {
  color: $yast-white;
  background-color: $yast-dark-grey-900;
  border: 1px solid $yast-black;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
  border-radius: 2px;
}

YQTree,
YQTable {
  color: $yast-white;
  background-color: $yast-dark-grey-500;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
}

YQPackageSelector {
  color: $yast-white;
  background-color: $yast-dark-grey-500;
  border: 1px solid $yast-black;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
  border-radius: 2px;
}

YQGenericDetailsView,
YQDescriptionDialog,
YQPkgDescriptionView {
  color: $yast-white;
  background-color: $yast-dark-grey-900;
}

YQPkgPatternCategoryItem {
  background-color: $yast-dark-grey-500;
  color: $yast-white;
}

QListWidget {
  color: $yast-white;
  background-color: $yast-dark-grey-500;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
}

YQWidgetCaption {
  color: $yast-white;
  background-color: $yast-dark-grey-500;
}

YQWidgetCaption::disabled {
  color: $yast-disabled;
  background-color: $yast-dark-grey-500;
}

.conflict QWidget {
  color: $yast-white;
}

YQMultiProgressMeter {
  background-color: transparent;
  border: 0px;
  border-radius: 2px;
}

YQWidgetCaptionBar > YQWidgetCaption {
  margin-top: 20px;
}

QComboBox QAbstractItemView,
QMenuBar {
  background-color: $yast-dark-grey-500;
  selection-background-color: $yast-dark-grey-100;
  selection-color: $yast-white;
  alternate-background-color: $yast-dark-grey-900;
}

QGroupBox {
  border: 0px;
  margin-top: 2.5ex;
  margin-left: 0px;
}
QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: left top;
  color: $yast-white;
}
