sudo: required
language: ruby
services:
  - docker

before_install:
  - docker build -t yast-theme-image .
script:
  # the "yast-travis-ruby" script is included in the base yastdevel/ruby image
  # see https://github.com/yast/docker-yast-ruby/blob/master/yast-travis-ruby
  - docker run -it -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" yast-theme-image yast-travis-ruby
