/* Buttons
  ========================================================================== */
QPushButton {
  border: 1px solid $yast-push-button-default;
  border-radius: 2px;
  background-color: $yast-dialog-bg;
  padding: 8px 16px;
  color: $yast-light-grey-100;
  font-weight: bold;
  outline: none;
}
QPushButton:default {
  border: 1px solid $yast-push-button-default;
  background-color: $yast-push-button-default;
  color: $yast-text;
}
QPushButton:disabled,
QPushButton:default:disabled {
  color: $yast-disabled;
  border: 1px solid $yast-disabled;
}
QPushButton:default:pressed,
QPushButton:pressed {
  border: 1px solid $yast-push-button-default;
  background-color: $yast-push-button-default;
  outline: none;
}
QPushButton:hover {
  border: 1px solid $yast-push-button-hover;
  color: $yast-text;
}
QPushButton:default:hover {
  border: 1px solid $yast-push-button-default;
  background-color: $yast-push-button-default;
  color: $yast-text;
}


/* odd dropdown button widget */
QPushButton::menu-indicator,
QPushButton::menu-indicator:pressed,
QPushButton::menu-indicator:open {
  subcontrol-origin: margin;
  subcontrol-position: right;
  image: $yast-btn-menu-indicator;
  left: -8px;
}
QPushButton:open {
  /* when the button has its menu open */
  color: $yast-text;
  background: $yast-dialog-bg;
  border: 1px solid $yast-push-button-default;
}

/* Tool Buttons              */

QToolButton {
  border: 1px solid $yast-light-grey-500;
  border-radius: 2px;
  background-color: $yast-dialog-bg;
  padding: 8px 16px;
  color: $yast-light-grey-100;
}
QToolButton:focus {
  outline: none;
  color: $yast-push-button-focus;
}
QToolButton::left-arrow,
QTabBar QToolButton::left-arrow {
  image: $yast-btn-arrow-left;
}
QToolButton::right-arrow,
QTabBar QToolButton::right-arrow {
  image: $yast-btn-arrow-right;
}
QToolButton::up-arrow {
  image: $yast-btn-arrow-up;
}
QToolButton::down-arrow {
  image: $yast-btn-arrow-down;
}
