/* Combobox
  ========================================================================== */
QComboBox {
  border: 1px solid $yast-light-grey-500;
  border-radius: 2px;
  background-color: $yast-dialog-bg;
  color: $yast-text;
  padding: 4px 4px;
  selection-background-color: $yast-selected-bg;
  selection-color: $yast-text;
}
QComboBox::disabled {
  color: $yast-disabled;
  border-color: $yast-disabled;
  background-color: $yast-dialog-bg;
}
QComboBox:focus {
  border: 1px solid $yast-green-500;
  color: $yast-text;
}

QComboBox::drop-down {
  /* arrow part of the widget */
  subcontrol-origin: padding;
  subcontrol-position: top left;
  width: 24px;
  border: none;
}
QComboBox::down-arrow {
  image: url(inst_arr_down.png);
}
QComboBox::down-arrow::disabled {
  image: url(inst_arr_down_disabled.png);
}
QComboBox::down-arrow:on {
  /* shift the arrow when popup is open */
  image: url(inst_arr_up.png);
  top: 0px;
  left: 0px;
}
