/* Dialog
  ========================================================================== */
#DialogBanner {
  background-color: transparent;
  font-family: Poppins, Sans-serif;
  font: 24pt;
  margin-right: 20px;
}

#DialogLogo {
  background-image: url(header-logo.png);
  min-width: 195px;
  min-height: 37px;
  margin-left: 1em;
  margin-top: 7px;
  margin-bottom: 0px;
  background-color: $yast-bg-900;
}

#work_area {
  padding: 1em;
  background-color: $yast-dialog-bg;
}

#DialogHeadingLeft {
  font-family: Poppins, Sans-serif;
  font: 22pt;
  color: $yast-dialog-text;
  margin-top: 14px;
  margin-right: 42px;
  qproperty-alignment: AlignRight;
}
#DialogHeadingTop {
  font-family: Poppins, Sans-serif;
  font: 18pt;
  color: $yast-dialog-text;
}
