/* Progress bars
  ========================================================================== */
QProgressBar {
  border: 1px solid $yast-black;
  border-radius: 2px;
  min-height: 24px;
  text-align: center;
  color: $yast-white;
  background-color: $yast-bg-900;
}

QProgressBar::chunk {
  background-color: $yast-blue;
  border: 0px;
  border-radius: 2px;
}
