#wizard,
#steps > QFrame {
  background-color: #1f222b;
}

#steps
{
  padding: 12px 1px 80px 12px;
  background: url(logo.svg) no-repeat bottom, #1f222b;
}

#steps QLabel {
  background-color: #1f222b;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
}

#steps QLabel.steps_heading {
  font-size: 16pt;
  font-family: Poppins, Sans-serif;
  background-color: #1f222b;
  color: #fff;
  padding: 0px 0px 12px 15px
}

#steps QLabel.current-step-name {
  background-color: #30BA78;
}

/**

Other steps QLabel selectors, just for reference

.todo-step-name {
}

.done-step-name {
}


.todo-step-status {
}

.done-step-status {
}

.current-step-status {
}

**/
