/* Tab bar
   ========================================================================== */
QTabWidget::pane {
   border: none;
 }

QTabBar {
   qproperty-drawBase: 0;

   /* Duplicate QTabBar::tab property. Without this property the tab space
      is calculated narrower and bold font display messed up. bnc#888589, QTBUG#8209 */
   font-weight: bold;

   &::tab {
      color: #b6b4b4;
      background: #1F222B;
      border: 1px solid #000000;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      font-weight: bold;
      margin-top: 1px;
      padding: 4px 8px;
      min-width: 180px;
      min-height: 24px;
      &:selected {
         color: #ffffff;
         background: #2B2E38;
         border: 1px solid #000000;
         border-bottom: none;
      }
   }
   &:focus::tab {
      outline: none;
   }
   &::tear {
      background: #1F222B;
      border: 1px solid #000000;
      border-radius: 1px;
   }
   QToolButton {
      border: 1px solid #000000;
   }
}
