// General variables
$yast-white: #FFFFFF;
$yast-cyan: #00FFFF;
$yast-black: #000000;
$yast-green: #00FF00;
$yast-yellow: #FFFF00;
$yast-green-500: #30BA78;
$yast-blue: #008ACF;
$yast-text: $yast-cyan;

// Light grey shades
$yast-light-grey-100: #e0efef;
$yast-light-grey-500: #969494;

// Dark grey shades
$yast-dark-grey-100: #404147;
$yast-dark-grey-500: #2b2e38;
$yast-dark-grey-700: #757575;
$yast-bg-900: #1f222b;

// rgba (as an interpolated string for not processing it with Sass and letting Qt makes the work)
$yast-disabled: #{"rgba(255, 255, 255, 60%)"};

// borders
$yast-border: $yast-black;

// specific components
// dialog (main wrapper)
$yast-dialog-bg: $yast-black;
$yast-dialog-text: $yast-yellow;

// header-specific
$yast-header-bg: $yast-black;

// text box
$yast-textbox-bg: $yast-bg-900;

// selected labels
$yast-selected-text: $yast-black;
$yast-selected-bg: $yast-yellow;

// buttons
$yast-push-button-default: $yast-green;
$yast-push-button-hover: $yast-yellow;
$yast-push-button-focus: $yast-green;

$yast-push-button-text: $yast-green;
$yast-push-button-bg: $yast-dialog-bg;
$yast-push-button-hover-text: $yast-black;
$yast-push-button-hover-bg: $yast-yellow;
$yast-push-button-default-text: $yast-black;
$yast-push-button-default-bg: $yast-green;
$yast-push-button-default-hover: $yast-yellow;
$yast-push-button-default-hover-bg: $yast-yellow;
$yast-push-button-default-hover-text: $yast-black;

// calendar
$yast-calendar-color: $yast-dark-grey-500;
$yast-calendar-selected-bg: $yast-selected-bg;
$yast-calendar-selected-color: $yast-border;

// scrollbar
$yast-scrollbar-handle-bg: $yast-dark-grey-700;

@import 'icons-default';
