$yast-push-button-text: $yast-light-grey-100;
$yast-push-button-bg: $yast-dialog-bg;
$yast-push-button-hover-text: $yast-text;
$yast-push-button-hover-bg: $yast-dialog-bg;
$yast-push-button-default-text: $yast-text;
$yast-push-button-default-bg: $yast-push-button-default;
$yast-push-button-default-hover-bg: $yast-push-button-default;
$yast-push-button-default-hover-text: $yast-text;
$yast-push-button-default-hover: $yast-push-button-default;
