// General variables
$yast-white: #FFFFFF;
$yast-black: #141823;
$yast-green-500: #30BA78;
$yast-blue: #008ACF;
$yast-text: $yast-white;

// Light grey shades
$yast-light-grey-100: #e0efef;
$yast-light-grey-500: #969494;

// Dark grey shades
$yast-dark-grey-100: #404147;
$yast-dark-grey-500: #2b2e38;
$yast-bg-900: #1f222b;

// rgba
$yast-disabled: rgba(255, 255, 255, 60);

// specific components
// dialog (main wrapper)
$yast-dialog-bg: $yast-dark-grey-500;
$yast-dialog-text: $yast-green-500;

// header-specific
$yast-header-bg: $yast-bg-900;

// text box
$yast-textbox-bg: $yast-white;



