// General variables
$yast-white: #FFFFFF;
$yast-black: #141823;
$yast-green-500: #30BA78;
$yast-blue: #008ACF;
$yast-text: $yast-black;

// Light grey shades
$yast-light-grey-100: #e0efef;
$yast-light-grey-500: #969494;
$yast-green-100: #E4F6EE;
$yast-persimmon-500: #fe7c3f;
$yast-blue-500: #2453ff;

// Backgrounds
$yast-dark-grey-100: #404147;
$yast-dark-grey-500: #2b2e38;
$yast-bg-900: #0e7e3c;

// rgba
$yast-disabled: rgba(0, 0, 0, 50);

// specific components
// dialog (main wrapper)
$yast-dialog-bg: $yast-white;
$yast-dialog-text: $yast-black;

// header-specific
$yast-header-bg: #0C322C;

// text box
$yast-textbox-bg: $yast-white;

// selected labels
$yast-selected-bg: $yast-light-grey-100;

// buttons
$yast-push-button-default: $yast-persimmon-500;
$yast-push-button-hover: $yast-black;
$yast-push-button-focus: $yast-blue-500;

// button graphics
$yast-btn-menu-indicator: url(arr_down.png);
$yast-btn-arrow-up: url(arr_up.png);
$yast-btn-arrow-down: url(arr_down.png);
$yast-btn-arrow-left:  url(arr_left.png);
$yast-btn-arrow-right: url(arr_right.png);
