$yast-white: #000000;
$yast-black: #ffffff;
$yast-green-500: #2b2e38;
$yast-blue: #008ACF;

// Light grey shades
$yast-light-grey-100: #e0efef;
$yast-light-grey-500: #969494;

// Dark grey shades
$yast-dark-grey-100: #E4F6EE;
$yast-dark-grey-500: #30BA78;
$yast-dark-grey-900: #0e7e3c;

// rgba
$yast-disabled: rgba(255, 255, 255, 60);
